@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background: #f5f6fa;
}
.sidebar{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.image {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 5px 70px 0px 70px;
    
  }
.list{
    color: white;
    font-size: 20px;
    margin-top: 40%;
    font-weight: bold;
    align-items: center;
}
.list li{
    padding: 7px 0px 7px 0px;
}

.container{
    align-items: center;
}
